* {
	padding:: 0;
	margin: 0;
	box-sizing: border-box;
}

body {
	font-size: 20px;
	/*background-image: url('/home/kehinde/Desktop/The Boys/images/the-boys.jpg');*/
	background-image: linear-gradient(rgba(0, 0, 0, 0.86),rgba(0,0,0,.5));
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
	font-family:'Poppins', sans-serif;
	
}


/* Image is now responsive */
img {
	max-width: 100%;
	height: auto;
}

/* Style for the header section */
.container {
	width: 1260px;
	max-width: 100%;
	padding: 20px;
	margin: 0 auto;
}

.logo img {
	display: block;
}

.main-header .container {
	display: flex;
	align-items: center;
	justify-content: space-between;
	flex-wrap: wrap;
}

.container .logo {
	margin-left: 0;
}

.main-nav {
	align-self: center;
}

.main-nav ul {
	margin: 0;
	text-align:center;
	list-style-type: none;

}

.main-nav li {
	display: inline-block;
	font-weight: bold;
	font-size: .8em;
}

.main-nav a {
	padding: .5em 1em;
	text-decoration: none;
	color: #FFFFFF;
}

.main-nav a.border:hover {
	border-bottom: solid .1em #00A8E1;
	border-radius: .1em;
}

.login {
	background:#00A8E1;
	font-weight: bold;
	border-radius: .3em;
	font-size: .8em;
	border: 0;
	text-transform: uppercase;
	height: 2em;
}

.login a {
	border-: 0;
}

.login:hover {
	box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
 	transition: .3s box-shadow;
}

/* end of styles for the header */

/* main content */

main {
	color: #FFFFFF;
	font-size: 1em;
	display: grid;
	grid-template-columns: 2fr 1fr;
	font-weight: lighter;
	grid-template-rows: 2fr;
	column-gap: 5em;
}

img.logo2 {
	height: 500px;
	position: relative;
	top: 80px;
}

p.summary {
	width: 500px;
	position: relative;
	left: 50px;
	bottom: 100px;
}

button.watchnow {
	background:#00A8E1;
	border: 0;
	height: 40px;
	border-radius: .2em;
	color: #FFFFFF;
	font-size: 1em;
	position: relative;
	left: 50px;
	bottom: 5em;
	width: 200px;
	font-weight: bold;
	text-align: center;
	transition: all 0.5s
}

 .watchnow span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.watchnow span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.watchnow:hover span {
	padding-right: 25px;
}

.watchnow:hover span:after {
	opacity: 1;
	right: 0;
}