* {
	padding:: 0;
	margin: 0;
	box-sizing: border-box;
}

body {
	font-size: 20px;
	background-image: url('/home/kehinde/Desktop/The Boys/images/the-boys.png');
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
	font-family:'Poppins', sans-serif;
}

/* Image is now responsive */
img {
	max-width: 100%;
	height: auto;
}

/* Style for the header section */
.container {
	width: 960px;
	max-width: 100%;
	padding: 20px;
	margin: 0 auto;
}

.logo img {
	display: block;
}

.main-header .container {
	display: flex;
	align-items: center;
	justify-content: space-between;
	flex-wrap: wrap;
}

.container .logo {
	margin-left: 0;
}

.main-nav {
	align-self: center;
}

.main-nav ul {
	margin: 0;
	text-align:center;
	list-style-type: none;

}

.main-nav li {
	display: inline-block;
	font-weight: bold;
	font-size: .8em;
}

.main-nav a {
	padding: .5em 1.5em;
	text-decoration: none;
	color: #FFFFFF;
}

.login {
	background:#00A8E1;
	font-weight: bold;
	border-radius: .3em;
	font-size: .8em;
	border: 0;
	text-transform: uppercase;
	height: 2em;
}

.login:hover {
	box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
 	transition: .3s box-shadow;
}